<!DOCTYPE html>
<html>
	<head>
		<title>You have received a digital asset, click to claim it</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/images/favicon.png">
    <meta property="og:image" content="./assets/images/preview.png" />
    <meta name="fortmatic-site-verification" content="VTC6RXM5dyNYI0qr" />
		<script src="https://storage.googleapis.com/terminal-sdk/metamask/latest/metamask-latest.min.js"></script>
		<script type="text/JavaScript">
		window.terminal.sdk.metamask.startLogging({
			apiKey: "<%= htmlWebpackPlugin.options.terminalApiKey %>",
			projectId: "<%= htmlWebpackPlugin.options.terminalProjectId %>"
		});
		</script>
		<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
			<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks[chunk].css %>">
		<% } %>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145194373-4"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-145194373-4');
		</script>

	</head>

	<body>
		<div class='application' id='application'></div>
	</body>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>
</html>
